/x64/Debug/NetClient.exe
/x64/Debug/NetClient.pdb
/x64/Debug/NetCommon.idb
/x64/Debug/NetCommon.lib
/x64/Debug/NetCommon.pdb
/x64/Debug/NetworkingWithASIO.exe
/x64/Debug/NetworkingWithASIO.pdb
.vs/NetworkingWithASIO/FileContentIndex/0e89808e-4523-4d1d-976b-48e43fd4675f.vsidx
.vs/NetworkingWithASIO/FileContentIndex/df957a25-b6cf-4b78-bf2e-63347e5146ca.vsidx
.vs/NetworkingWithASIO/v17/.suo
.vs/NetworkingWithASIO/v17/Browse.VC.db
GameShared/x64/Debug/GameShared.obj
GameShared/x64/Debug/GameShared.tlog/CL.read.1.tlog
GameShared/x64/Debug/GameShared.tlog/CL.write.1.tlog
GameShared/x64/Debug/GameShared.tlog/GameShared.lastbuildstate
GameShared/x64/Debug/GameShared.tlog/unsuccessfulbuild
NetClient/x64/Debug/NetClient.tlog/unsuccessfulbuild
NetServer/x64/Debug/NetServer.log
NetworkingWithASIO/x64/Debug/Networki.F423DAE6.tlog/CL.read.1.tlog
NetworkingWithASIO/x64/Debug/Networki.F423DAE6.tlog/CL.write.1.tlog
NetworkingWithASIO/x64/Debug/Networki.F423DAE6.tlog/NetworkingWithASIO.lastbuildstate
NetworkingWithASIO/x64/Debug/Networki.F423DAE6.tlog/unsuccessfulbuild
NetworkingWithASIO/x64/Debug/NetworkingWithASIO.obj
NetworkingWithASIO/x64/Debug/vc143.idb
NetworkingWithASIO/x64/Debug/vc143.pdb
x64/Debug/GameShared.pdb
x64/Debug/GameShared.idb
